<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/head %>
		<script src="/js/updateLocation.js"></script>
	</head>
	<body class="container">
		<% include ../partials/headerLoggedIn %>

		<main>
			<div class="row">
				<div class="col-md-6 text-center">
					<div>
						<img src="<%= profilePictureURL %>" alt="Gravatar"
								class="img-responsive img-circle center-block" style="padding:1%">
					</div>
					<div>
						<h2>
							Welcome to <%= title %>, <%= username %>
						</h2>
					</div>
				</div>
				<div class="col-md-6">
					<form  action="/user/postUpdate" method="post">
						<div class="panel panel-default">
							<div class="panel-body">
								<textarea class="form-control" rows="3" style="resize:none"
									name="status" placeholder="What's on your mind?" required></textarea>
							</div>
							<div class="panel-heading">
								<button class="btn btn-primary btn-block" type="submit"><b>Post</b></button>
							</div>
						</div>
					</form>
				</div>
			</div><br/>
			<div>
				<% statusList.forEach( function(status) { %>
					<div class="row">
						<div class="col-md-12">
							<div class="panel panel-default">
								<div class="panel-heading">
									<b><a href="/user/<%= status.username %>"> <%= status.username %> </a></b>
								</div>
								<div class="panel-body">
									<div class="row">
										<div class="col-md-1">
											<img src="<%= status.profilePictureURL %>" alt="Profile Picture" class="img-responsive img-rounded" />
										</div>
										<div class="col-md-8">
											<p class="lead">
												<b><%- status.status %></b>
											</p>
											<small class="text-muted"><%= status.date %>, <%= status.distance %> away</small>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				<% }); %>
			</div>
		</main>

		<footer>
			<% include ../partials/footer %>
		</footer>
	</body>
</html>
