<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/head %>
		<script src="/js/updateLocation.js"></script>
	</head>
	<body class="container">
		<% include ../partials/headerLoggedIn %>

		<main>
			<div class="text-center row">
				<div class="col-md-12">
					<div>
						<h2>
							Welcome to <%= title %>, <%= username %>
						</h2>
					</div>
					<div>
						<form action="/search" class="form-inline">
							<div class="form-group">
								<input class="form-control" type="text" name="data"  placeholder="Username or Email" required>
							</div>
							<button type="submit" class="btn btn-primary">Search</button>
						</form>
					</div>
				</div>
			</div><br/>
			<div class="row">
				<div class="col-md-12">
					<form  action="/user/postUpdate" method="post">
						<div class="form-group">
							<label for="status" class="control-label">Create a post</label>
							<textarea class="form-control" name="status" style="resize:none" placeholder="What's on your mind?" required></textarea>
						</div>
						<button type="submit" class="btn btn-primary">Post</button>
					</form>
				</div>
			</div><br/>
			<div>
				<% statusList.forEach( function(status) { %>
					<div class="row">
						<div class="col-md-12">
							<div class="panel panel-default">
								<div class="panel-heading">
									<b><a href="/user/<%= status.username %>"> <%= status.username %> </a></b>
								</div>
								<div class="panel-body">
									<div class="row">
										<div class="col-md-1">
											<img src="<%= status.profilePictureURL %>" alt="Profile Picture" class="img-responsive img-rounded" />
										</div>
										<div class="col-md-8">
											<p class="lead">
												<b><%- status.status %></b>
											</p>
											<small class="text-muted"><%= status.date %></small>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				<% }); %>
			</div>
		</main>

		<footer>
			<% include ../partials/footer %>
		</footer>
	</body>
</html>
