<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/head %>
		<script src="/js/updateLocation.js"></script>
	</head>
	<body class="container">
		<% include ../partials/headerLoggedIn %>

		<main>
			<div class="row">
				<div class="col-md-6 text-center">
					<div>
						<img src="<%= profilePictureURL %>" alt="Gravatar"
							class="img-responsive img-circle center-block">
					</div>
				</div>
				<div class="col-md-6">
					<div>
						<h1>
							<%= profilename %>
						</h1>
					</div>
					<div>
						<h3>
							bio goes here
						</h3>
					</div>
				</div>
			</div><br/>
			<div class="row">
				<div class="col-md-6">
					<div class="text-center">
						<h4>
							<ul class="list-inline">
								<li><a href="/friends/<%= profilename %>/following"><b><%= peopleFollowing %></b> Following</a></li>
								<li><a href="/friends/<%= profilename %>/followers"><b><%= peopleFollowedBy %></b> Followers</a></li>
							</ul>
						</h4>
						<h3>
							links go here
						</h3>
					</div>
				</div>
				<div class="col-md-6">
					<div style="padding-top:3%">
						<a href="/friends/add/<%= profilename %>" class="btn btn-primary">Follow</a>
					</div>
				</div>
			</div>
		</main>

		<footer>
			<% include ../partials/footer %>
		</footer>
	</body>
</html>
