<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/head %>
		<script src="/js/sign-up-login-location.js"></script>
	</head>
	<body class="container">
		<% include ../partials/headerLoggedOut %>

		<main>
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<div class="panel panel-default">
							<div class="panel-heading">Sign up</div>
							<div class="panel-body">
								<form class="form-horizontal" role="form" method="POST" action="/signup">
									<input type="hidden" name="_csrf" value="<%= csrfToken %>"/>
									<input type="hidden" name="lat" value=""/>
									<input type="hidden" name="long" value=""/>
									<div class="form-group <%- userError != null ? 'has-error' : '' %>">
										<label for="username" class="col-md-4 control-label">Username</label>

										<div class="col-md-6">
											<input id="username" type="text" class="form-control" name="username"
															value="<%- userValue != null ? userValue : '' %>" required autofocus>
											<% if (userError == "DUPLICATE_DATA") { %>
												<span class="help-block">
													<strong>Username already in use!</strong>
												</span>
											<% } %>
											<% if (userError == "FORMAT_MISMATCH") { %>
												<span class="help-block">
													<strong>
														<ul>
															<li>Username must be 4 to 20 characters long</li>
															<li>Usernames can contain lowercase letters and digits</li>
															<li>Usernames can contain special characters ._-</li>
															<li>Cannot have two special characters in a row</li>
															<li>Cannot have special characters at the start or at the end</li>
														</ul>
													</strong>
												</span>
											<% } %>
										</div>
									</div>

									<div class="form-group <%- emailError != null ? 'has-error' : '' %>">
										<label for="email" class="col-md-4 control-label">E-Mail</label>

										<div class="col-md-6">
											<input id="email" type="email" class="form-control" name="email"
														value= "<%- emailValue != null ? emailValue : '' %>" required>
											<% if (emailError == "DUPLICATE_DATA") { %>
												<span class="help-block">
													<strong>Email already in use!</strong>
												</span>
											<% } %>
											<% if (emailError == "FORMAT_MISMATCH") { %>
												<span class="help-block">
													<strong>Invalid Email address!</strong>
												</span>
											<% } %>
										</div>
									</div>

									<div class="form-group <%- passwordError != null ? 'has-error' : '' %>">
										<label for="password" class="col-md-4 control-label">Password</label>

										<div class="col-md-6">
											<input id="password" type="password" class="form-control" name="password" required>
											<% if (passwordError == "FORMAT_MISMATCH") { %>
												<span class="help-block">
													<strong>
														<ul>
															<li>Password must be 8 to 30 characters long</li>
														</ul>
													</strong>
												</span>
											<% } %>
										</div>
									</div>

									<div class="form-group">
										<div class="col-md-6 col-md-offset-4">
											<button type="submit" class="btn btn-primary">
												<i class="fa fa-user" aria-hidden="true"></i> <b>Sign up</b>
											</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>

		<footer>
			<% include ../partials/footer %>
		</footer>
	</body>
</html>
