<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/head %>
		<script src="/js/updateLocation.js"></script>
	</head>
	<body class="container">
		<% include ../partials/headerLoggedIn %>

		<main>
			<div class="row">
				<div class="col-md-6 text-center">
					<div>
						<img src="<%= profilePictureURL %>" alt="Gravatar"
							class="img-responsive img-circle center-block">
					</div>
				</div>
				<div class="col-md-6">
					<div>
						<h1>
							<%= username %>
						</h1>
					</div>
					<div>
						<small class="text-muted">
							E-mail: <%= email %>
						</small>
					</div>
				</div>
			</div><br/>
			<div class="row">
				<div class="col-md-6">
					<div class="text-center">
						<p>
							<a href="/friends/index"><%= peopleFollowing %> Following</a>
						</p>
						<h3>
							links go here
						</h3>
					</div>
				</div>
				<div class="col-md-6">
					<div>
						<form  action="/user/postUpdate" method="post">
							<div class="form-group">
								<label for="status">Create a Post</label>
								<textarea class="form-control" style="resize:none" rows="2"
									name="status" placeholder="What's on your mind?" required></textarea>
							</div>
							<div class="form-group">
								<button type="submit" class="btn btn-primary">Post</button>
							</div>
						</form>
					</div>
				</div>
			</div><br/>
			<div>
				<% statusList.forEach( function(status) { %>
					<div class="row">
						<div class="col-md-12">
							<div class="panel panel-default">
								<div class="panel-heading">
									<b><a href="/user/<%= status.username %>"> <%= status.username %> </a></b>
								</div>
								<div class="panel-body">
									<div class="row">
										<div class="col-md-1">
											<img src="<%= status.profilePictureURL %>" alt="Profile Picture" class="img-responsive img-rounded" />
										</div>
										<div class="col-md-8">
											<p class="lead">
												<b><%- status.status %></b>
											</p>
											<small class="text-muted"><%= status.date %>, <%= status.distance %> away</small>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				<% }); %>
			</div>
		</main>

		<footer>
			<% include ../partials/footer %>
		</footer>
	</body>
</html>
